body {
    font-family: Helvetica;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.user-page {
  max-width: 50%;
  text-align: center;
  display: block;
  margin: 75px auto 0;
  padding: 55px 35px;
}

.user-tags {
  display: flex;
  flex-wrap: wrap;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
}

.user-info-avatar {
    margin: 0.75em;
    float: left;
}

.user-info-text {
    margin-top: 115px;
    text-decoration: none;
    flex: 1;
    text-align: left;
}

.user-info-title {
    font-size: 20px;
}

.user-info-title, .user-info-bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
